<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>20岁-30岁的疾病发病情况</title>
    <script src="/js/echarts.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="shortcut icon"  href="#"/>
</head>
<body>
<div id="20-30" style="width: 1200px;height:650px;" align="center"></div>
<script type="text/javascript">
    $(function(){
        $.ajax({
            "url":"/bar3",
            "type":"POST",
            "success":function(data){
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('20-30'));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '30岁-40岁各疾病发病情况统计',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '50%',
                            data: data,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

            }
        });
    })
</script>
</body>
</html>